<?xml version="1.0" encoding="UTF-8"?>
<web-app> xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>P1ERS</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>Front</display-name>
  	<servlet-name>Front</servlet-name>
  	<servlet-class>com.revature.controller.FrontController</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EmployeeLogin</display-name>
  	<servlet-name>EmployeeLogin</servlet-name>
  	<servlet-class>com.revature.servlets.EmployeeLogin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ManagerLogin</display-name>
  	<servlet-name>ManagerLogin</servlet-name>
  	<servlet-class>com.revature.servlets.ManagerLogin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ReimbursementSubmit</display-name>
  	<servlet-name>ReimbursementSubmit</servlet-name>
  	<servlet-class>com.revature.servlets.ReimbursementSubmit</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewPending</display-name>
  	<servlet-name>ViewPending</servlet-name>
  	<servlet-class>com.revature.servlets.ViewPending</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewResolved</display-name>
  	<servlet-name>ViewResolved</servlet-name>
  	<servlet-class>com.revature.servlets.ViewResolved</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewAccount</display-name>
  	<servlet-name>ViewAccount</servlet-name>
  	<servlet-class>com.revature.servlets.ViewAccount</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Front</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLogin</servlet-name>
  	<url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerLogin</servlet-name>
  	<url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementSubmit</servlet-name>
  	<url-pattern>/ReimbursementSubmit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPending</servlet-name>
  	<url-pattern>/ViewPending</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewResolved</servlet-name>
  	<url-pattern>/ViewResolved</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAccount</servlet-name>
  	<url-pattern>/ViewAccount</url-pattern>
  </servlet-mapping>
  

</web-app>
